.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: start;
  margin-bottom: 40px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  p {
    max-width: 800px;
  }
}

@media (max-width: 1220px) {
  .header {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}